<div
  class="container shop"
  *ngrxLet="{
    filterBy: filterBy$,
    isLoading: isLoading$,
    totalProducts: totalProducts$,
    products: products$,
    categories: categories$,
    brands: brands$
  } as vm">
  <div class="row">
    <div class="col-md-4 col-lg-3 g-lg-0">
      <div class="container g-lg-0 d-flex flex-column gap-15">
        <app-product-sort
          [sortBy]="vm.filterBy.sort!"
          (onSortChange)="handleSortChange($event)"></app-product-sort>

        <app-product-search
          [isSearching]="vm.isLoading"
          [searchBy]="vm.filterBy.search!"
          (onSearchChange)="handleSearchChange($event)"></app-product-search>

        <app-product-filters
          [categories]="vm.categories"
          [selectedCategoryId]="vm.filterBy.categoryId!"
          (onCategoryChange)="handleCategoryChange($event)"
          [brands]="vm.brands"
          [selectedBrandIds]="vm.filterBy.brandIds!"
          (onBrandsChange)="handleBrandsChange($event)"></app-product-filters>
      </div>
    </div>

    <div class="col-md-8 col-lg-9">
      <p-blockUI [blocked]="vm.isLoading" [target]="shopContent">
        <p-progressSpinner></p-progressSpinner>
      </p-blockUI>
      <app-blockable-div
        #shopContent
        class="d-flex flex-column gap-10 container h-100">
        <p class="mt-3 mt-md-0">
          Displaying <strong>{{ vm.products.length }}</strong> out of
          <strong>{{ vm.totalProducts }}</strong>
        </p>

        <app-product-list
          class="flex-grow-1"
          [products]="vm.products"
          [isBasketLoading]="(isBasketLoading$ | ngrxPush)!"
          (onAddToBasket)="handleAddToBasket($event)"></app-product-list>
      </app-blockable-div>
    </div>

    <div class="col-12 d-flex justify-content-center py-2 mt-3">
      <p-paginator
        (onPageChange)="handlePageChange($event)"
        [first]="(vm.filterBy.pageIndex! - 1) * vm.filterBy.pageSize!"
        [rows]="vm.filterBy.pageSize!"
        [totalRecords]="vm.totalProducts"
        [rowsPerPageOptions]="[6, 12, 18]"></p-paginator>
    </div>
  </div>
</div>
