@font-face {
  font-family: 'Nunito';
  src: url('../../../assets/fonts/nunito/Nunito-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('../../../assets/fonts/roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Crimson Text';
  src: url('../../../assets/fonts/crimson-text/CrimsonText-Regular.ttf');
}
