<ng-container *ngrxLet="breadcrumbs$ as breadcrumbs">
  <section
    class="app-subheader main-layout full"
    *ngIf="getLastBreadcrumbRouteLabel(breadcrumbs) !== 'Home'">
    <header class="subheader">
      <h1>{{ getLastBreadcrumbRouteLabel(breadcrumbs) | ellipsisText: 35 | titlecase }}</h1>

      <xng-breadcrumb>
        <ng-container *xngBreadcrumbItem="let breadcrumb">
          {{ breadcrumb | ellipsisText: 20 | titlecase }}
        </ng-container>
      </xng-breadcrumb>
    </header>
  </section>
</ng-container>
