<div class="container d-flex flex-column gap-15" *ngrxLet="orders$ as orderList">
  <p *ngIf="!orderList.length">No orders yet.</p>
  <p-card
    class="basket-item preview"
    styleClass="order-preview"
    *ngFor="let order of orderList">
    <!-- Order header -->
    <ng-template pTemplate="header">
      <div class="order-header-preview">
        <div class="header-item">
          <h6>ORDER PLACED</h6>
          <p>{{ order.createdAt | date }}</p>
        </div>

        <div class="header-item flex-grow-1">
          <h6>TOTAL</h6>
          <p>{{ order.total | currency }}</p>
        </div>

        <div class="header-item">
          <h6>ORDER #{{ order.id }}</h6>
          <a [routerLink]="order.id?.toString()"> View order details </a>
        </div>
      </div>
    </ng-template>

    <!-- Order content -->
    <ng-template pTemplate="content">
      <div class="order-content-preview">
        <h3>{{ order.status }}</h3>

        <div class="container">
          <app-order-item-preview
            *ngFor="let item of order.items"
            [item]="item">
          </app-order-item-preview>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
