<section class="auth-view">
  <h1>Register</h1>
  <form
    (ngSubmit)="handleSubmit($event)"
    [formGroup]="signupForm"
    class="d-flex flex-column gap-10"
  >
    <div class="form-control">
      <label for="fullName">Full Name</label>
      <div class="p-input-icon-right w-100">
        <i
          class="pi pi-check-circle check-success"
          *ngIf="signupForm.get('fullName')?.valid"
        ></i>
        <input
          type="text"
          id="fullName"
          pInputText
          formControlName="fullName"
          class="w-100"
        />
      </div>
      <small *ngIf="hasError('fullName', 'required')" class="p-error block"
        >Full Name is required!</small
      >
      <small *ngIf="hasError('fullName', 'minlength')" class="p-error block"
        >At least 3 characters are required!</small
      >
    </div>

    <div class="form-control">
      <label for="email">E-Mail</label>
      <div class="p-input-icon-right w-100">
        <i
          class="pi pi-spin pi-spinner"
          *ngIf="signupForm.get('email')?.pending"
        ></i>
        <i
          class="pi pi-check-circle check-success"
          *ngIf="signupForm.get('email')?.valid"
        ></i>
        <input
          type="email"
          id="email"
          pInputText
          formControlName="email"
          class="w-100"
        />
      </div>

      <small *ngIf="hasError('email', 'required')" class="p-error block"
        >E-Mail address is required!</small
      >
      <small *ngIf="hasError('email', 'email')" class="p-error block"
        >Invalid email address!</small
      >
      <small *ngIf="hasError('email', 'emailExists')" class="p-error block"
        >Account with this email already exists!</small
      >
    </div>

    <div class="form-control">
      <label for="password">Password</label>
      <p-password
        type="password"
        id="password"
        strongRegex="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$"
        formControlName="password"
        styleClass="w-100"
        inputStyleClass="w-100"
        [toggleMask]="true"
      >
        <ng-template pTemplate="header">
          <h6>Pick a password</h6>
        </ng-template>
        <ng-template pTemplate="footer">
          <p class="mt-2">Suggestions</p>
          <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <li>At least one lowercase</li>
            <li>At least one uppercase</li>
            <li>At least one numeric</li>
            <li>Minimum 6 characters</li>
          </ul>
        </ng-template>
      </p-password>
      <small *ngIf="hasError('password', 'required')" class="p-error block"
        >Password is required!</small
      >
      <small *ngIf="hasError('password', 'minlength')" class="p-error block"
        >At least 6 characters are required!</small
      >
    </div>

    <p-button
      [disabled]="signupForm.invalid"
      [loading]="(isSubmitting$ | ngrxPush)!"
      type="submit"
      styleClass="p-button-success"
      label="Signup"
    ></p-button>
  </form>
</section>
