<form
  [formGroup]="addressForm"
  (ngSubmit)="handleSubmit($event)"
  class="d-flex flex-column gap-10">
  <app-common-input
    *ngFor="let controlName of getControlNames()"
    type="text"
    [label]="getControlLabel(controlName)"
    [name]="controlName"
    [form]="addressForm">
    <small *ngIf="hasError(controlName, 'required')" class="p-error block"
      >{{ getControlLabel(controlName) }} is required!</small
    >
  </app-common-input>

  <div class="d-flex justify-content-between">
    <p-button
      [style.visibility]="showCancelBtn ? 'visible' : 'hidden'"
      type="button"
      (onClick)="onCancelClick.emit()"
      label="Cancel"
      icon="pi pi-times"
      styleClass="p-button-secondary"></p-button>
    <p-button
      class="w-50"
      type="submit"
      label="Save address"
      styleClass="p-button-success w-100"></p-button>
  </div>
</form>
