.main-header {
  background-color: $headerBackgroundColor;
  padding: rem(10px) rem(5px);
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 10px;
  flex-grow: 1;
  margin-inline-start: rem(15px);
  font-size: rem(18px);
}
