.main-header {
  background-color: $headerBackgroundColor;
  padding: rem(20px) rem(5px);
  box-shadow: 0 0 5px grey;
  position: relative;
}

.main-nav {
  display: flex;
  align-items: center;

  & .brand img {
    max-height: 56px;
  }
}

.nav-links {
  display: flex;
  gap: 10px;
  flex-grow: 1;
  margin-inline-start: rem(15px);
  font-size: rem(20px);
}
