// This file is used for both login and register components
.auth-view {
  width: 100%;
  margin-inline: auto;
  max-width: 550px;

  @include media-breakpoint-up('lg') {
    & {
      width: 60%;
    }
  }

  @include media-breakpoint-up('xxl') {
    & {
      width: 50%;
    }
  }
}
