.product-preview {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  padding: rem(15px);
  gap: rem(10px);
  height: 100%;

  &:hover {
    & .product-actions {
      opacity: 1;
    }
  }

  & .header-preview {
    display: flex;
  }

  & .content-preview > * {
    margin-block-start: 0;
  }

  & .content-preview {
    flex-grow: 1;
  }
}

.product-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 44;
  opacity: 0;
  transition: opacity 0.3s;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-details-btn {
  background-color: whitesmoke;
  color: gray;
  border: none;
}
