<div
  class="container d-flex flex-column gap-15"
  *ngrxLet="basketState$ as bState">
  <div>
    <div class="d-flex justify-content-center">
      <p-message
        severity="success"
        text="Ordered placed! Thank you for your order!"
        styleClass="checkout-success-msg"></p-message>
    </div>
    <p>
      Order number: <a [routerLink]="orderLink">#{{ order!.id }}</a>
    </p>
    <p>Order date: {{ order!.createdAt | date : 'medium' }}</p>
  </div>

  <div>
    <h3>Order summary</h3>

    <div class="row">
      <div class="col-md-6" *ngFor="let item of bState.basket.items">
        <p-card>
          <app-basket-item [item]="item" [preview]="true"></app-basket-item>
        </p-card>
      </div>
    </div>
  </div>

  <div>
    <app-order-summary
      [itemsCount]="bState.basket.items.length"
      [shipping]="bState.shipping"
      [subtotal]="bState.subtotal"
      [total]="bState.total"
      [summaryOnly]="true"></app-order-summary>
  </div>
</div>
