<header class="main-header main-layout full">
  <nav class="main-nav">
    <div routerLink="/" class="brand">BrandLogo</div>

    <ul class="clean-list nav-links">
      <li routerLink="/shop">Shop</li>
    </ul>

    <p-button
      icon="pi pi-shopping-cart"
      [badge]="(basketCount$ | ngrxPush)!.toString()"
      styleClass="p-button-link"
      routerLink="/basket"
      label="Cart"></p-button>

    <p-divider layout="vertical"></p-divider>

    <span *ngIf="user$ | ngrxPush as user; else authLinks">
      <button
        pButton
        type="button"
        icon="pi pi-user"
        class="p-button-sm"
        [label]="user.fullName"
        [loading]="(isLoggingOut$ | ngrxPush)!"
        (click)="userMenu.toggle($event)"></button>
      <p-menu #userMenu [popup]="true" [model]="userLinks"></p-menu>
    </span>

    <ng-template #authLinks>
      <ul class="clean-list d-flex gap-10">
        <li routerLink="/auth/login">
          <p-button
            icon="pi pi-sign-in"
            styleClass="p-button-link"
            label="Login"></p-button>
        </li>
        <li routerLink="/auth/register">
          <p-button
            icon="pi pi-user"
            styleClass="p-button-link"
            label="Register"></p-button>
        </li>
      </ul>
    </ng-template>
  </nav>
</header>
