<header class="main-header main-layout full" [ngClass]="homeCssClass">
  <nav class="main-nav">
    <div class="brand">
      <a routerLink="/">
        <p-image src="../../../assets/img/logo.png" alt="App logo"></p-image>
      </a>
    </div>

    <!-- Display only in Mobile (screen < 768px) -->
    <span class="flex-grow-1 d-md-none"></span>
    <p-button
      icon="pi pi-bars"
      styleClass="d-inline-flex d-md-none p-button-raised p-button-rounded"
      (click)="toggleMobileMenu()"></p-button>

    <!-- Display only in desktop (screen >= 768px) -->
    <ul class="d-md-flex clean-list nav-links">
      <a routerLink="/shop">
        <li>
          <p-button
            icon="pi pi-shopping-bag"
            [styleClass]="isHome ? 'p-button-link text-white' : 'p-button-link'"
            label="Shop"></p-button>
        </li>
      </a>
    </ul>

    <!-- Display only in desktop -->
    <a routerLink="/basket" class="d-none d-md-inline">
      <p-button
        icon="pi pi-shopping-cart"
        [badge]="basketCount.toString()"
        [styleClass]="isHome ? 'p-button-link text-white' : 'p-button-link'"
        label="Cart"></p-button>
    </a>

    <!-- Display only in desktop -->
    <p-divider layout="vertical" class="d-none d-md-inline"></p-divider>

    <!-- Display only in desktop -->
    <span class="d-none d-md-inline" *ngIf="isLoggedIn; else authLinks">
      <button
        pButton
        type="button"
        icon="pi pi-user"
        class="p-button-sm"
        [label]="user?.fullName || ''"
        [loading]="(isLoggingOut$ | ngrxPush)!"
        (click)="userMenu.toggle($event)"></button>
      <p-menu #userMenu [popup]="true" [model]="userLinks"></p-menu>
    </span>

    <!-- Display only in desktop -->
    <ng-template #authLinks>
      <ul class="d-none d-md-flex gap-5 clean-list">
        <a routerLink="/auth/login">
          <li>
            <p-button
              icon="pi pi-sign-in"
              [styleClass]="
                isHome ? 'p-button-link text-white' : 'p-button-link'
              "
              label="Login"></p-button>
          </li>
        </a>

        <a routerLink="/auth/register">
          <li>
            <p-button
              icon="pi pi-user"
              [styleClass]="
                isHome ? 'p-button-link text-white pe-0' : 'p-button-link pe-0'
              "
              label="Register"></p-button>
          </li>
        </a>
      </ul>
    </ng-template>
  </nav>
</header>

<p-sidebar [(visible)]="showMobileMenu">
  <p-menu
    [model]="mobileLinks"
    styleClass="mobile-menu"
    (click)="toggleMobileMenu()"></p-menu>
</p-sidebar>
