<header class="main-header main-layout full">
  <nav class="main-nav">
    <div class="brand">
      <a routerLink="/">
        <p-image src="../../../assets/img/logo.png" alt="App logo"></p-image>
      </a>
    </div>

    <ul class="clean-list nav-links">
      <a routerLink="/shop">
        <li>
          <p-button
            icon="pi pi-shopping-bag"
            styleClass="p-button-link"
            label="Shop"></p-button>
        </li>
      </a>
    </ul>

    <a routerLink="/basket">
      <p-button
        icon="pi pi-shopping-cart"
        [badge]="(basketCount$ | ngrxPush)!.toString()"
        styleClass="p-button-link"
        label="Cart"></p-button>
    </a>

    <p-divider layout="vertical"></p-divider>

    <span *ngIf="user$ | ngrxPush as user; else authLinks">
      <button
        pButton
        type="button"
        icon="pi pi-user"
        class="p-button-sm"
        [label]="user.fullName"
        [loading]="(isLoggingOut$ | ngrxPush)!"
        (click)="userMenu.toggle($event)"></button>
      <p-menu #userMenu [popup]="true" [model]="userLinks"></p-menu>
    </span>

    <ng-template #authLinks>
      <ul class="clean-list d-flex gap-10">
        <a routerLink="/auth/login">
          <li>
            <p-button
              icon="pi pi-sign-in"
              styleClass="p-button-link"
              label="Login"></p-button>
          </li>
        </a>

        <a routerLink="/auth/register">
          <li>
            <p-button
              icon="pi pi-user"
              styleClass="p-button-link"
              label="Register"></p-button>
          </li>
        </a>
      </ul>
    </ng-template>
  </nav>
</header>
