<ng-container *ngrxLet="filterBy$ as filterBy">
  <div class="container row">
    <div class="col-md-3 g-0 d-flex flex-column gap-15">
      <app-product-sort
        [sortBy]="filterBy.sort!"
        (onSortChange)="handleSortChange($event)"
      ></app-product-sort>

      <app-product-search
        [isSearching]="(isLoading$ | ngrxPush) || false"
        [searchBy]="filterBy.search!"
        (onSearchChange)="handleSearchChange($event)"
      ></app-product-search>

      <app-product-filters
        [categories]="(categories$ | ngrxPush)!"
        [selectedCategoryId]="filterBy.categoryId!"
        (onCategoryChange)="handleCategoryChange($event)"
        [brands]="(brands$ | ngrxPush)!"
        [selectedBrandIds]="filterBy.brandIds!"
        (onBrandsChange)="handleBrandsChange($event)"
      ></app-product-filters>
    </div>
    <div class="col-md-9">
      <ng-container
        *ngrxLet="{ total: totalProducts$, data: products$ } as products"
      >
        <p>
          Displaying <strong>{{ products.data.length }}</strong> out of
          <strong>{{ products.total }}</strong>
        </p>

        <app-product-list [products]="products.data"></app-product-list>

        <div class="d-flex justify-content-center">
          <p-paginator
            (onPageChange)="handlePageChange($event)"
            [first]="(filterBy.pageIndex! - 1) * filterBy.pageSize!"
            [rows]="filterBy.pageSize!"
            [totalRecords]="products.total"
            [rowsPerPageOptions]="[6, 12, 18]"
          ></p-paginator>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
