<ng-container *ngrxLet="filterBy$ as filterBy">
  <div class="container shop">
    <div class="row" *ngrxLet="isLoading$ as isLoading">
      <div class="col-md-4 col-lg-3 g-0 d-flex flex-column gap-15">
        <app-product-sort
          [sortBy]="filterBy.sort!"
          (onSortChange)="handleSortChange($event)"
        ></app-product-sort>

        <app-product-search
          [isSearching]="isLoading"
          [searchBy]="filterBy.search!"
          (onSearchChange)="handleSearchChange($event)"
        ></app-product-search>

        <app-product-filters
          [categories]="(categories$ | ngrxPush)!"
          [selectedCategoryId]="filterBy.categoryId!"
          (onCategoryChange)="handleCategoryChange($event)"
          [brands]="(brands$ | ngrxPush)!"
          [selectedBrandIds]="filterBy.brandIds!"
          (onBrandsChange)="handleBrandsChange($event)"
        ></app-product-filters>
      </div>

      <div class="col-md-8 col-lg-9">
        <ng-container
          *ngrxLet="{ total: totalProducts$, data: products$ } as products"
        >
          <p-blockUI [blocked]="isLoading" [target]="shopContent">
            <p-progressSpinner></p-progressSpinner>
          </p-blockUI>
          <app-blockable-div
            #shopContent
            class="d-flex flex-column gap-10 container h-100"
          >
            <p class="mt-0">
              Displaying <strong>{{ products.data.length }}</strong> out of
              <strong>{{ products.total }}</strong>
            </p>

            <app-product-list
              class="flex-grow-1"
              [products]="products.data"
              (onAddToBasket)="handleAddToBasket($event)"
            ></app-product-list>

            <div class="d-flex justify-content-center">
              <p-paginator
                (onPageChange)="handlePageChange($event)"
                [first]="(filterBy.pageIndex! - 1) * filterBy.pageSize!"
                [rows]="filterBy.pageSize!"
                [totalRecords]="products.total"
                [rowsPerPageOptions]="[6, 12, 18]"
              ></p-paginator>
            </div>
          </app-blockable-div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
