<ng-container *ngrxLet="product$ as product">
  <ng-template #loading>
    <p-progressBar
      mode="indeterminate"
      [style]="{ height: '5px' }"></p-progressBar>
  </ng-template>

  <div class="container" *ngIf="product; else loading">
    <div class="row">
      <div class="col-md-5 col-lg-6 d-flex justify-content-center">
        <p-image
          [src]="product.pictureUrl"
          [alt]="product.name"
          [preview]="true"></p-image>
      </div>
      <div class="col-md-7 col-lg-6">
        <h1>{{ product.name }}</h1>
        <ul class="clean-list d-flex gap-5">
          <li pTooltip="Category" tooltipPosition="left">
            <p-tag
              [value]="product.category.name"
              styleClass="category-tag"></p-tag>
          </li>
          <li pTooltip="Brand" tooltipPosition="right">
            <p-tag [value]="product.brand.name" severity="info"></p-tag>
          </li>
        </ul>

        <p class="currency-light">
          <strong>{{ product.price | currency }}</strong>
        </p>

        <div class="d-flex gap-15 my-2 mb-4" *ngrxLet="isLoading$ as isLoading">
          <label for="quantity-input">Quantity</label>
          <p-inputNumber
            inputId="quantity-input"
            [(ngModel)]="quantity"
            [disabled]="isLoading"
            [showButtons]="true"
            [min]="1"
            buttonLayout="horizontal"
            decrementButtonClass="p-button-standard"
            incrementButtonClass="p-button-primary"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
            [inputStyle]="{ width: '100px' }"></p-inputNumber>

          <p-button
            icon="pi pi-shopping-cart"
            styleClass="p-button-success"
            [loading]="isLoading"
            label="+Add"
            [badge]="(quantityLabel$ | ngrxPush)!"
            (onClick)="handleAddToBasket(product)"></p-button>
        </div>

        <p-panel header="Description">
          <p
            [class]="text.includes('•') ? 'm-0' : 'mt-0'"
            *ngFor="let text of getDescParagraphs(product.description)">
            {{ text }}
          </p>
        </p-panel>
      </div>
    </div>
  </div>
</ng-container>
